In [3]:
marks = [3,5,6,"cp is love",True]  #list
print(type(marks),marks)

<class 'list'> [3, 5, 6, 'cp is love', True]

In [4]:
marks[0]

3

In [9]:
for i in marks:
    print(i)

3
5
6
cp is love
True

In [11]:
list1 = range(1,10)
list1

range(1, 10)

In [12]:
print(marks[-3]) #negative indexing
print(marks[len(marks)-3]) #positive index
print(marks[5-3]) #positive index
print(marks[2]) #positive index

6
6
6
6

In [20]:
#element present or not using in keyword
if "cp is love" in marks:
    print("yes")
else: 
    print("no")

yes

In [21]:
if "love" in "cp is love":   #to check a substring or character is present or not
    print("yes")
else:
    print("no")

yes

In [23]:
marks[1:] #go from index 1 till length of list - 1

[5, 6, 'cp is love', True]

In [24]:
marks[1:-1]

[5, 6, 'cp is love']

In [25]:
marks[1:4] # 4 is not included remember this

[5, 6, 'cp is love']

In [26]:
marks[1:4:2]   # here 2 is jump index it will go like this 1->3->5->7->9 soon

[5, 'cp is love']

In [27]:
#in negative indexing always convert it to positive index then move on to next step

In [29]:
#list comphrension
lst = [i*i for i in range(1,10)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
lst1 = [i*i for i in range(1,10) if i%5==0]
lst1

[25]

In [35]:
tupl = (1,2,4,5,6,7,8,9,10,11,12)
lst2 = [i for i in tupl if i%5==0]
lst2

[5, 10]

In [39]:
lt1 = ['codeforces','codechef','leetcode','atcoder'] # if a character or a string is present or not in the lt1 list \\ given
list5 = [i for i in lt1 if 't' in i]
list5

['leetcode', 'atcoder']

In [54]:
l = [11,55,11,1,1,2,4,6,5]  #adding elements to the end of the list using append function
l
l.append(7)
l

[11, 55, 11, 1, 1, 2, 4, 6, 5, 7]

In [55]:
l.sort() # list is sorted in ascending order
l

[1, 1, 2, 4, 5, 6, 7, 11, 11, 55]

In [56]:
l.sort(reverse = True) # list is sorted in descending order
l

[55, 11, 11, 7, 6, 5, 4, 2, 1, 1]

In [58]:
print(l.index(11))   #returns the index of the given element here it gives the index of element 11 i.e 6

1

In [59]:
l.count(1)   #return the occurence of the given value in the given list

2

In [61]:
m = l.copy() #returns the copy of the list
m
m[0] = 1
m

[1, 11, 11, 7, 6, 5, 4, 2, 1, 1]

In [62]:
l

[55, 11, 11, 7, 6, 5, 4, 2, 1, 1]

In [68]:
l.insert(1,(3,4,56,7))   # insert function used to insert a variable of any datatype in the list in this i inserted a tuple
l

[55, (3, 4, 56, 7), 'hi', 11, 11, 7, 6, 5, 4, 2, 1, 1, 1, 1]

In [69]:
m=[100,1000,1100]
m

[100, 1000, 1100]

In [70]:
l.extend(m)  #using extend function iska yeh matalab hua 'm' ko kholo(open) kro aur 'l' ke end mei rkhdo
l

[55, (3, 4, 56, 7), 'hi', 11, 11, 7, 6, 5, 4, 2, 1, 1, 1, 1, 100, 1000, 1100]

In [71]:
m.extend(l)
m

[100,
 1000,
 1100,
 55,
 (3, 4, 56, 7),
 'hi',
 11,
 11,
 7,
 6,
 5,
 4,
 2,
 1,
 1,
 1,
 1,
 100,
 1000,
 1100]

In [73]:
k = l + m  # adding of lists
k

[55,
 (3, 4, 56, 7),
 'hi',
 11,
 11,
 7,
 6,
 5,
 4,
 2,
 1,
 1,
 1,
 1,
 100,
 1000,
 1100,
 100,
 1000,
 1100,
 55,
 (3, 4, 56, 7),
 'hi',
 11,
 11,
 7,
 6,
 5,
 4,
 2,
 1,
 1,
 1,
 1,
 100,
 1000,
 1100]

In [74]:
newlist = [1,2,3,4,5,'hi','bye', 'u','are','a','guy']
newlist.pop()  # pop function removes the last element of the list 
newlist

[1, 2, 3, 4, 5, 'hi', 'bye', 'u', 'are', 'a']

In [76]:
1 in newlist # use of 'in' keyword is 1 present in the list

True

In [77]:
1 not in newlist  # use of 'notin' keyword i.e, ky 1 sach mei newlist ke andar nhin h say yes or no

False